extends main
block variables 
    - var logged = false
block content 
    section.aboutMe#section1
        .container 
            h2.title.aboutMe__title Обо мне
            hr.line.aboutMe__title-line
            p.aboutMe__text Ученица 3 курса университета Итмо. В свободное от учебы время осваиваю дизайн и верстку сайтов, занимаюсь спортом, фотографирую.
            .aboutMe__galery 
                .aboutMe__galery-item 
                    img(src = '../public/img/first.jpg' width = '264' height = '330' alt = 'фотоаппарат')
                .aboutMe__galery-item 
                    img(src = '../public/img/second.jpg' width = '273' height = '330' alt = 'компьютер')
                .aboutMe__galery-item 
                    img(src = '../public/img/third.jpg' width = '248' height = '330' alt = 'готовка')
            blockquote.aboutMe__quote 
                p.aboutMe__quote-text “Если я не возьму полную ответственность за свою жизнь, ничего никогда не изменится”
                cite.aboutMe__quote-author Анастасия Свон. 
            .aboutMe__galery 
                .aboutMe__galery-item 
                    img(src = '../public/img/fourth.jpg' width = '233' height = '330' alt = 'путешествие')
                .aboutMe__galery-item 
                    img(src = '../public/img/fifth.jpg' width = '220' height = '330' alt = 'спорт')
                .aboutMe__galery-item 
                    img(src = '../public/img/sixth.jpg' width = '221.39' height = '330' alt = 'друзья')
            .popup-img 
                    span &times;
                    img(src = '../public/img/first.jpg' width = '264' height = '330' alt = 'фотоаппарат')
block scripts 
    script(src = '../public/js/popup.js')

