extends main
block content 
    section.experience#section2 
        .container 
            h2.title.experince__title Опыт
            hr.line.experience__title-line
            .experience__content 
                .experience__content-left 
                    .experience__content-leftASCII 
                        pre.experience__cintent-pre 
                            | ┊┊┊┊┊┊┊┊┊┊
                            | ┊┊┊╭━━╮┊┊┊
                            | ┊┊┊┃┛┗┃┊┊┊
                            | ┊┊┊┃╰╯┃┊┊┊
                            | ┊┊┊╰━━╯┊┊┊
                            | ┊┊┊┊┊┊┊┊┊┊
                        h3.experience__content-leftTitle Успехи
                    .success 
                        ul.success__list 
                            li.success__list-item Диплом первой степени за доклад на всеросийской конференции с международным участием “Школьная информатика и проблемы устойчивого развития”.
                            li.success__list-item Выиграла конкурс фотографов, в студии фотографии.
                            li.success__list-item Выучила такие языки как C, C++, C#, Python, немного JS.
                            li.success__list-item Поступила в ИТМО и доучилась до 3 курса.
                            li.success__list-item Получила права.
                .experience__line
                .experience__content-right 
                    .experience__content-rightASCII 
                        h3.experience__content-rightTitle Антиуспехи
                        pre.experience__content-pre             
                            | ┊┊┊┊┊┊┊┊┊┊
                            | ┊┊┊╭━━╮┊┊┊
                            | ┊┊┊┃┃┃┃┊┊┊
                            | ┊┊┊┃━━┃┊┊┊
                            | ┊┊┊╰━━╯┊┊┊
                            | ┊┊┊┊┊┊┊┊┊┊
                    .failure 
                        ul.failure__list 
                            li.failure__list-item   Несколько раз начинала делать макеты для заказчиков, но они пропадали сразу после того, как я скидывала им макет.
