*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: none;
}

body {
  font-family: "Prata", serif;
  color: #ffffff;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #e9c8b3;
}

.header__top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__top::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #806161;
  z-index: 2;
}

.header__top-content {
  width: 80%;
  position: relative;
  height: 90px;
  margin: 0 auto;
}

.menu {
  padding-top: 34px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  justify-content: space-around;
  transition: 2s;
  position: relative;
  z-index: 2;
}

.menu__list-item:hover {
  text-decoration: underline;
  color: #423333;
  transform: scale(1.3);
}

.header__top-line {
  width: 100%;
  height: 0;
  border-top: 1px solid white;
  margin-top: 16px;
  position: relative;
  z-index: 2;
}
.header__burger {
  display: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__top-line {
    display: none;
  }
  .header__top-content {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    z-index: 3;
    margin-left: auto;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 3px;
    left: 0;
    top: 11px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b28c8c;
    padding: 70px 10px 20px 10px;
    overflow: auto;
    transition: all 0.4s ease 0s;
    font-size: 24px;
    line-height: 33px;
  }
  .menu__list {
    display: block;
  }
  .menu__list-item {
    margin-bottom: 20px;
  }
  .menu__list-item:hover {
    transform: none;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 11px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .menu.active {
    top: 0;
    transition: all 0.4s ease 0s;
  }
}


.header__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
  padding-top: 140px;
}

.header__bottom-left {
  width: 50%;
  position: relative;
}

.header__bottom-img {
  width: 70%;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.header__bottom-right {
  width: 50%;
  display: inline-block;
  margin-top: 7%;
  margin-right: 40px;
}
.header__bottom-item {
  font-size: 5vw;
  line-height: 9vw;
  text-align: center;
  text-transform: uppercase;
}
.header__bottom-item1 {
  color: #826767;
}

.title {
  font-size: 50px;
  line-height: 68px;
  text-transform: uppercase;
  text-align: center;
}

.line {
  height: 0px;
  border: 1px solid #693b2b;
  margin-top: 1px;
}

.aboutMe {
  color: #000000;
  margin-top: 100px;
}

.aboutMe__title {
  margin-top: 40px;
  width: 100%;
}

.aboutMe__title-line {
  width: 279px;
}

.aboutMe__text {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.aboutMe__galery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}
.popup-img {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.popup-img span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 467px;
  height: 537px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .popup-img img {
    width: 95%;
  }
}
.aboutMe__quote {
  text-align: center;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
}

.aboutMe__quote-text {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 24px;
}

.aboutMe__quote-author {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.experience {
  width: 100%;
  background-color: #e9c8b3;
  margin-top: 90px;
}

.experience__title {
  color: #ffffff;
  padding-top: 30px;
}

.experience__title-line {
  width: 187px;
}

.experience__content {
  display: flex;
}

.experience__content-leftTitle {
  display: flex;
  align-items: center;
  margin-left: 18px;
  font-size: 30px;
  line-height: 41px;
}
.experience__content-rightTitle {
  display: flex;
  align-items: center;
  margin-right: 18px;
  font-size: 30px;
  line-height: 41px;
}

.experience__content-pre {
  display: inline-block;
}

@media (max-width: 950px) {
  .experience__title-line{
    margin-bottom: 50px;

  }
  .experience__content-leftTitle{
    margin: 0 auto;
  }
  .experience__content-rightTitle{
    margin: 0 auto;
  }

  .experience__content-pre {
    display: none;
  }
  .experience__line{
    display: none;
  }
  .experience__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .success{
    margin-bottom: 20px;
  }
  .failure{
    margin-bottom: 50px;
  }
}

.experience__content-rightASCII {
  justify-content: flex-end;
}

.success {
  margin-top: 20px;
  margin-bottom: 140px;
}

.success__list-item {
  width: 100%;
  font-size: 18px;
  line-height: 24px;
}

.success__list-item + .success__list-item {
  margin-top: 34px;
}

.success__list-item::before {
  content: "◆";
  color: #ffffff;
}

.experience__line {
  margin-top: 30px;
  border-right: 1px solid white;
  height: 500px;
}
.experience__content-left {
  width: 50%;
}
.experience__content-leftASCII {
  width: 100%;
  display: flex;
}
.experience__content-rightASCII {
  width: 100%;
  display: flex;
}
.experience__content-right {
  width: 49%;
}

.failure {
  margin-top: 20px;
}

.failure__list-item {
  font-size: 18px;
  line-height: 24px;
  padding-left: 21px;
}

.failure__list-item::before {
  content: "◆";
  color: #ffffff;
}

.portfolio {
  color: #000000;
  margin-top: 100px;
}

.portfolio__title {
  margin-top: 40px;
}

.portfolio__title-line {
  width: 383px;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__content-title {
  word-spacing: 10px;
  font-style: italic;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-top: 60px;
}

.portfolio__content-img {
  margin-top: 40px;
  cursor: pointer;
}
.portfolio__popup-img {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.portfolio__popup-img span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  
}
.portfolio__popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
@media (max-width: 767px) {
  .portfolio__popup-img img {
    width: 95%;
  }
}

.table {
  color: #000000;
  text-align: center;
  width: 100%;
}
.table__title {
  font-size: 32px;
  padding-top: 40px;
  text-transform: uppercase;
}

.table__title-line {
  width: 650px;
}

@media (max-width: 767px) {
  .table__title-line {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 0px;
  overflow: auto;
}
.box {
  font-size: 24px;
  line-height: 33px;
  padding: 1em;
}
.box:nth-child(n):nth-child(-n + 4) {
  background-color: #693b2b;
}
.box:nth-child(n + 9):nth-child(-n + 12) {
  background-color: #693b2b;
}
.box:nth-child(n + 17):nth-child(-n + 20) {
  background-color: #693b2b;
}
.fetch{
  background-color: #e9c8b3;
  padding-bottom: 30px;
}
.fetch__body{
  display: flex;
  flex-wrap: wrap;
  place-content: space-around;
  margin-top: 50px;
}
.card{
  width: 300px;
  height: 400px;
  border: 10px solid rgb(217, 196, 255);
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}
.card-body{
color: black;
padding: 5px;
}
.fetch__button{
  padding-top: 40px;
}
.card-img{
  padding-top: 20px;
}
.button{
color: black;
border: 5px solid rgb(161, 207, 238);
border-radius: 5px;
font-size: 24px;
padding: 10px;
}
.card-body{
  font-size: 20px;
}
.preloader-img{
  width: 100px;
  height: 100px;
}
.fetch-container{
  text-align: center;
}
#preloader{
  visibility: hidden;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.footer {
  background-color: #806161;
}

.footer__title {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 13px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 10px;
}
.footer__contacts {
  padding-top: 15px;
}
.contacts__list-item + .contacts__list-item {
  margin-top: 15px;
}

.contacts__list-mail {
  position: relative;
  padding-left: 30px;
}
.contacts__list-mail:hover {
  text-decoration: underline;
  color: #423333;
}

.contacts__list-mail::before {
  content: "";
  position: absolute;
  background-image: url("../img/mail.svg");
  width: 20px;
  height: 20px;
  left: 0;
}

.contacts__list-git {
  position: relative;
  padding-left: 30px;
}
.contacts__list-git:hover {
  text-decoration: underline;
  color: #423333;
}

.contacts__list-git::before {
  content: "";
  position: absolute;
  background-image: url("../img/github.svg");
  width: 20px;
  height: 20px;
  left: 0;
}

.footerMenu__list-item:hover {
  text-decoration: underline;
  color: #423333;
}

.footerMenu__list-item + .footerMenu__list-item {
  margin-top: 10px;
}
.active-menu{
  background: #e9c8b3;
  color: #000000;
  border-radius: 5px;
}

#error {
  visibility: "hidden";
}

